{% extends 'public.html.twig' %}

{% block title %}Formularios{% endblock %}




{% block body %}
  
  <h1>Nueva asignatura</h1>
  
  <div class="formulario">
    
    {{ form_start(form) }}
    
    {{ form_widget(form) }}
    
    {{ form_end(form) }}
    
  </div>
    
{% endblock %}
